<header class="main_header">
    <div class="top_bar">
        <div class="container_dis">
            <div class="level">
                <ul class="heaer_menu_drop">
                    <li class="li_meu">
                        <ul class="no_login">
                            <li class="login"><a href="">로그인</a></li>
                            <li class="sign"><a href="">회원가입</a></li>
                        </ul>
                    </li>
                    <li><a href="">고객센터</a></li>
                    <li class="li_meu">
                        <div class="aput_dorop">
                            한국어
                            <ul class="drop_down_menu drop_lang">
                                <li>KOR</li>
                                <li>ENG</li>
                                <li>VI</li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="box_menu_brand_sum">
        <div class="box_top_menu_now">
            <div class="container_dis">
                <div class="sum_top_menu">
                    <div class="box_stack brand_icon">
                        <div class="stlogo"></div>
                    </div>
                    <div class="box_stack search_form">
                        <div class="input_key_form">
                            <input class="input_key_search" type="text" placeholder="Search...">
                            <!-- <span class="icon_search"></span> -->
                            <button class="icon_search" type="submit"></button>
                        </div>
                    </div>
                    <div class="box_stack cmn_banner">
                        <a href="" class="control_img on" id="pic_01">
                            <img src="public/images/icon/cmn01.png"></a>
                        <a href="" class="control_img" id="pic_02">
                            <img src="public/images/icon/cmn02.png"></a>
                        <a href="" class="control_img" id="pic_03">
                            <img src="public/images/icon/cmn_03.png"></a>
                        <div class="control_cmn_banner">
                            <span class="cmn_btn btn_prev" data-step="1"></span>
                            <span class="cmn_btn btn_next" data-step="1"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_bot_menu_now">
            <div class="container_dis">
                <ul class="nav_bar">
                    <li class="item_list on"><a href="">HOME</a></li>
                    <li class="item_list"><a href="">KPOP / 콘서트</a></li>
                    <li class="item_list"><a href="">공연/뮤지컬</a></li>
                    <li class="item_list"><a href="">전시/행사</a></li>
                    <li class="item_list"><a href="">현지투어/체험</a></li>
                    <li class="item_list"><a href="">팬미팅/이벤트</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box_search animated" id="box_search">
        <div class="container_dis">
            <div class="form_box_search">
                <!-- <div class="form_control_search"> -->
                <form method="GET" class="form_control_search">
                    <div class="input_box">
                        <input type="text" class="control_input" name="keySearch" id="control_input" />
                        <span class="clear_text" id="clear_text"></span>
                    </div>
                    <div class="name_action_box">
                        <button class="action_search">Search</button>
                    </div>
                </form>
                <!-- </div> -->
                <div class="for_auto_suggestion">
                    <div class="title_auto">인기 검색어</div>
                    <ul class="list_key">
                        <li><a href="">박보검</a></li>
                        <li><a href="">TWICE</a></li>
                        <li><a href="">BTS</a></li>
                        <li><a href="">박보검</a></li>
                        <li><a href="">홍길동</a></li>
                        <li><a href="">서울공연</a></li>
                        <li><a href="">검색어</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- main_header -->