<div class="box_nuwa">
    <div class="title">QUICK</div>
    <div class="list_server">
        <ul class="server_lit">
            <li class="item_list search">
                <a href="services-center.html">
                    <div class="icon_action "></div>
                    <label class="name">예약확인</label>
                </a>
            </li>
            <li class="item_list service">
                <a href="services-center.html">
                    <div class="icon_action "></div>
                    <label class="name">고객센터</label>
                </a>
            </li>
        </ul>
    </div>
    <div class="title">오늘 본 상품</div>
    <div class="slide_box">
        <div class="list_slide" id="list_slide">
            <div class="item_slide">
                <a href="">
                    <img src="public/images/hot_news/nani05.jpg" alt="">
                </a>
            </div>
            <div class="item_slide">
                <a href="">
                    <img src="public/images/hot_news/nani03.jpg" alt="">
                </a>
            </div>
            <div class="item_slide">
                <a href="">
                    <img src="public/images/hot_news/nani02.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="goTop">
        <div class="box_go"><span></span>TOP</div>
    </div>
</div>