<div class="box_bot_menu_now">
    <div class="container_dis">
        <ul class="nav_bar">
            <li class="item_list on"><a href="home.html">HOME</a></li>
            <li class="item_list"><a href="list-category.html">KPOP/콘서트</a></li>
            <li class="item_list"><a href="list-category.html">공연/뮤지컬</a></li>
            <li class="item_list"><a href="list-category.html">전시/행사</a></li>
            <li class="item_list"><a href="list-category.html">현지투어/체험</a></li>
            <li class="item_list"><a href="list-category.html">팬미팅/이벤트</a></li>
        </ul>
    </div>
</div> 