<div class="box_stack search_form">
    <div class="input_key_form">
        <input class="input_key_search" type="text" placeholder="Search...">
        <button class="icon_search" type="submit"></button>
    </div>
    <div class="auto_tag_complate">
        <ul class="sum_tags_search">
            <li class="item_tag">
                <a href="" class="tag">최신음악</a>
                <span class="remove_tag"></span>
            </li>
            <li class="item_tag">
                <a href="" class="tag">멜론차트</a>
                <span class="remove_tag"></span>
            </li>
            <li class="item_tag">
                <a href="" class="tag">티켓</a>
                <span class="remove_tag"></span>
            </li>
            <li class="item_tag">
                <a href="" class="tag">최신음악</a>
                <span class="remove_tag"></span>
            </li>
            <li class="item_tag">
                <a href="" class="tag">멜론차트</a>
                <span class="remove_tag"></span>
            </li>
        </ul>
    </div>
</div>