<div class="box_top_menu_now">
    <div class="container_dis">
        <div class="sum_top_menu">
            <div class="box_stack brand_icon">
                <a href="home.html" class="stlogo"></a>
            </div>
            @@include('./search.html')
            <div class="box_stack cmn_banner">
                <a href="" class="control_img on" id="pic_01">
                    <img src="public/images/icon/cmn01.png"></a>
                <a href="" class="control_img" id="pic_02">
                    <img src="public/images/icon/cmn02.png"></a>
                <a href="" class="control_img" id="pic_03">
                    <img src="public/images/icon/cmn_03.png"></a>
                <div class="control_cmn_banner">
                    <span class="cmn_btn btn_prev" data-step="1"></span>
                    <span class="cmn_btn btn_next" data-step="1"></span>
                </div>
            </div>
        </div>
    </div>
</div>